html, body {
    background-color: #CFD8DC;

}

head title {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  display: inline-block;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  display: inline-block;
}


.header .shrink
  {
    height: 100px;
    color: blue;
    background-color: blue;
  }

.header {
  width: 100vw;
  height: 50px;
  padding: 0;
  margin: 0;
  position: fixed;
  background-color: #F8F8FF;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /*transition: ease 0.5s;*/
  animation-delay: 2s;
  box-shadow: 0 3px 5px grey;
  transition: height 0.3s;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #F8F8FF;
  color: black;

}
.bodySection {
  margin: 50px 15vw 0 15vw;
  transition-timing-function: linear;
  background-color: #F8F8FF;
  width: 70vw;
  height: 1000px;
  transition: ease 0.5s;
  animation-delay: 2s;

}

.print {
margin: 10px 10% 0px 10%;
width: 80%;
align-items: center;
transition: ease 0.5s;
animation-delay: 2s;
}
.print p {
  background-color: #F8F8FF;
  text-align: center;
}

/*@media (max-width: 1000px) {
  .bodySection {
    margin: 0px;
    width: 100vw;
  }
  .print {
    margin: 10px 5% 0px 5%;
    width: 90%;
  }
  .header {
    height: 30px;
  }
  .bodySection {
  margin-top: 30px;
  }
}
