body, html {
  background-color: #D8D8D8;
margin: 0;
padding: 0;
}



.container{
  width:60vw;
  margin: 0 auto;
  background-color: #EFEFEF;

}

.content {
height: calc(100vh - 50px);



}

footer {
  height: 100px;
  background-color: #444444;

}

.horizontal-list {


}

ul {
  list-style-type: none;
  margin: 0 0px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display:flex;
  justify-content: space-around;

}

li {
    float: left;



}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 14vw;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
